*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  border: 0;
  outline: 0;
}
body{
  /* overflow: scroll;
  height: 200vh; */
  background: #222;
}
.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg,#00feba,#5b548a);
  color: #fff;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.search input{
  background: #ebfffc;
  border-radius: 30px;
  height: 60px;
  padding: 10px 25px;
  flex: 1;  
  font-size: 18px;
}
.search button{
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.search button img{
  width: 16px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.col img{
  width: 40px;
}
  